{% extends "layout.html" %}

{% block content %}
    <form action="/add_question" method='POST'>
        <input type="hidden" name="submission_time" value="">
        <input type="hidden" name="vote_number" value="0">
        <input type="hidden" name="view_number" value="0">
        <p>
            <label for="title">Question title:</label><br>
            <input type="text" name="title" id="title" required>
        </p>

            <label for="message">Question:</label><br>
            <textarea name="message" id="message" minlength="10" cols="60" rows="6" required>Ask away!</textarea>
        <p>
            <label for="image">Image:</label><br>
            <input type="text" name="image" value="">
        </p>
        <p><input type="submit" id="submit" value="Submit"></p>
    </form>
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
    {% include 'footer.html' %}
{% endblock %}
