<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Comrade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="header">
    <h1 id="asd">Ask Comrade</h1>
    {% if request.cookies.get('username') %}

        <p><strong>Logged in as comrade {{ request.cookies.get('username') }}</strong></p>
        {#logout#}
        <form action="/log_out" method="POST">
            <button type="submit">log out</button>
        </form>

    {% else %}
        <a href="{{ url_for('route_register_page') }}"><strong>Register</strong></a>

        <!-- login -->
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input placeholder="user name" minlength="3" maxlength="15" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" placeholder="password" minlength="3" name="password" id="password" required>
            <button type="submit">login</button>
        </form>
    {% endif %}
</div>
{% block content %} {% endblock %}
</body>
</html>