{% extends "layout.html" %}

{% block content %}
    <p>
    <div>
        <form action="/list" method="POST">
            <select class="sort1" name="order_by">
                <option value="Date">Date</option>
                <option value="Vote">Vote</option>
                <option value="View">View</option>
                <option value="Title">Title</option>
            </select>
            <select class="sort2" name="order_direction">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </div>
    </p>
    <a href="{{ url_for('route_list_users') }}"><strong>All Users</strong></a>
    <a href="{{ url_for('route_register_page') }}"><strong>Register</strong></a>

    <!-- login -->
    <form action="url_for('route_login')" method="POST" >
        <label for="username">Username</label>
        <input placeholder="user name" minlength="3" maxlength="15" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" placeholder="password" minlength="3" name="password" id="password" required>
        <button type="submit">login</button>
    </form>

    <a class="button1" href="add_question"><strong>Ask new question</strong></a>
    <a class="button2" href="latest_questions"><strong>Hot Questions</strong></a>
    {% for dict_item in questions %}
        <table class="front_page_table">
            <tr>
                <th><a href="/question/{{ dict_item['id'] }}">{{ dict_item['title'] }}</a></th>
            </tr>
            <tr>
                <td class="extra_data">{{ dict_item['submission_time'] }}</td>
            </tr>
            <tr>
                <td class="extra_data">Views: {{ dict_item['view_number'] }}
                    Votes: {{ dict_item['vote_number'] }}</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}

