{% extends "layout.html" %}

{% block content %}
    <p>
    <div>
        <form>
            <select class="sort1" name="order_by">
                <option value="submission_time">Date</option>
                <option value="vote">Vote</option>
                <option value="view">View</option>
                <option value="title">Title</option>
            </select>
            <select class="sort2" name="order_direction">
                <option value="ascending">Ascending</option>
                <option value="descending">Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </div>
    </p>
    <a class="button1" href="add_question"><strong>Ask new question</strong></a>
    <a class="button2" href="latest_questions"><strong>Hot Questions</strong></a>
    {% for dict_item in questions %}
        <table class="front_page_table">
            <tr>
                <th><a href="/question/{{ dict_item['id'] }}">{{ dict_item['title'] }}</a></th>
            </tr>
            <tr>
                <td class="extra_data">{{ dict_item['submission_time'] }}</td>
            </tr>
            <tr>
                <td class="extra_data">Views: {{ dict_item['view_number'] }}
                    Votes: {{ dict_item['vote_number'] }}</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}

