{% extends "layout.html" %}

{% block content %}
    {% for que in question %}
        <table>
            <tr>
                <th>{{ que["id"] }} </th>
                <th>{{ que["submission_time"] }} </th>
                <th>{{ que["view_number"] }} </th>
                <th>{{ que["vote_number"] }} </th>
                <th>{{ que["title"] }} </th>
                <th>{{ que["message"] }} </th>
                <th>{{ que["image"] }} </th>
            </tr>
        </table>

    {% endfor %}

    <p>
        {% for answer in answers %}
            <table>
                <tr>
                    <th>{{ answer["id"] }} </th>
                    <th>{{ answer["submission_time"] }} </th>
                    <th>{{ answer["view_number"] }} </th>
                    <th>{{ answer["vote_number"] }} </th>
                    <th>{{ answer["title"] }} </th>
                    <th>{{ answer["message"] }} </th>
                    <th>{{ answer["image"] }} </th>
                </tr>
            </table>
        {% endfor %}
    </p>

    <a href='/question/{{ question_id }}/delete'>
        <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-waste-icon-png-image_4147110.jpg"
             alt="Delete question and all answers" style="width:35px;height:35px;border:0;">
    </a>

    <form action={{ url_for("add_answer", question_id=question_id) }} method="POST">
        <label for="answer">Add answer</label><br>
        <textarea name="message" id="answer" ROWS="5" COLS="30" minlength="10" required></textarea><br>
        <input type="hidden" name="question_id" value="{{ question_id }}">
        <input type="hidden" name="vote_number" value="0">
        <label for="image">Link an image<br></label>
        <input type="text" name="image" id="image">
        <input type="submit" value="Post answer">
    </form>
    {% include 'footer.html' %}
{% endblock %}