{% extends "layout.html" %}

{% block content %}
    {% for que in question %}
        <table>
            <tr>
                <th><h1>{{ que["title"] }}</h1></th>
            </tr>
            <tr>
                <th>{{ que["message"] }} </th>
            </tr>
            <tr>
                <th>Submission time: {{ que["submission_time"] }}</th>
            </tr>
            <tr>
                <th>{{ que["image"] }} </th>
            </tr>
            <tr>
                <th>View {{ que["vote_number"] }} </th>
            </tr>
            <tr>
                <th>Vote {{ que["view_number"] }} </th>
            </tr>
        </table>

    {% endfor %}
    <a href='/question/{{ question_id }}/delete'>
        <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-waste-icon-png-image_4147110.jpg"
             alt="Delete question and all answers" style="width:35px;height:35px;border:0;"></a>
    <p>
        {% for answer in answers %}
            <table>
                <tr>
                    <th>{{ answer["message"] }} </th>
                </tr>
                <tr>
                    <th>{{ answer["submission_time"] }} </th>
                </tr>
                <tr>
                    <th>{{ answer["image"] }} </th>
                </tr>
                <tr>
                    <th>Vote {{ answer["vote_number"] }} </th>
                </tr>
            </table>
        {% endfor %}
    </p>
    <form action={{ url_for("route_add_answer", question_id=question_id) }} method="POST">
        <form action={{ url_for("route_add_answer", question_id=question_id) }} method="POST">
            <label for="answer">Add answer</label><br>
            <textarea name="message" id="answer" ROWS="5" COLS="30" minlength="10" required></textarea><br>
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <input type="hidden" name="vote_number" value="0">
            <label for="image">Link an image<br></label>
            <input type="text" name="image" id="image">
            <input type="submit" value="Post answer">
        </form>
        {% include 'footer.html' %}
{% endblock %}